/* Center align the Explore Recipes Header */
.exploreRecipesHeader {
  text-align: center;
  margin: 20px 0;
}

/* Style for the Recipe Categories section */
.recipeCategories {
  display: flex;
  justify-content: center;
  gap: 15px; /* Adds spacing between buttons */
  margin-top: 20px;
}

/* Recipe Category Buttons */
.recipeCategories button {
  padding: 10px 20px;
  background-color: #155a9e;
  color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.recipeCategories button:hover {
  background-color: var(--secondary-color); /* Slightly darker shade of blue */
  transform: scale(1.05); /* Slightly enlarges button on hover */
}

/* Active Button Style */
.recipeCategories button.active {
  background-color: #155a9e; /* Even darker blue for the active button */
  color: #fff; /* Ensures contrast on the active button */
}
